langchain
langgraph
langchain-community
langchain-core
langchain-huggingface

langchain-groq
groq
pydantic

python-dotenv

fastapi
uvicorn
python-multipart

pypdf
pymupdf
python-docx

faiss-cpu
sentence-transformers>=3.0.0
huggingface_hub>=0.23.0
rank-bm25

jinja2

reportlab
loguru

pytest

streamlit
requests